<div class="container--big-card">
  <div class="big-card--image">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/681px-Placeholder_view_vector.svg.png"
      alt=""
    />
  </div>
  <div class="big-card--img-description">
    <p>Imagem mockada</p>
  </div>
  
    <div class="big-card--title">
      <h1><a href="#">Out now! Big news of lorem ipsum.</a></h1>
    </div>
  
  <div class="big-card--text">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit
      obcaecati neque at aliquid, voluptate repellendus ipsam. Nihil libero
      suscipit quis mollitia quos delectus, dolor incidunt obcaecati, eveniet
      atque fuga.
    </p>
  </div>
</div>
